/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/variables';
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

.input-field-wrapper {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
@import 'assets/styles/variables';
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

.input-field-wrapper {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
